<p> <%= @email %>님 안녕하세요! 아주헬퍼 계정 인증 안내 메일입니다.</p>

<p>아래 링크를 클릭하시면 이메일 인증이 완료됩니다!</p>

<p><%= link_to '인증하기', "https://db-team--makehoney.c9users.io:8080/users/confirmation?confirmation_token=#{@token}" %></p>
